<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>New Case</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="caseForm" (ngSubmit)="onSubmit()">

    <ion-item>
      <ion-label position="floating">Handle</ion-label>
      <ion-input type="text" formControlName="handle" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input type="text" formControlName="name" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Last Location Seen</ion-label>
      <ion-input type="text" formControlName="lastLocated" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Last Date Seen</ion-label>
      <ion-datetime type="text" formControlName="date" required></ion-datetime>
    </ion-item>

    <ion-button expand="full" type="submit">Submit</ion-button>
  </form>

</ion-content>